{{#if news}}
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{news.cover}}" class="d-block mx-lg-auto img-fluid" alt="{{news.title}}" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{{news.title}}</h1>
      <div class="text-muted">Дата создания: {{news.createdAt}}</div>
      <div class="text-muted">Автор: {{news.user.firstName}} {{news.user.lastName}}</div>
      <p class="lead">{{news.description}}</p>
    </div>
  </div>
{{else}}
  <h1>Новость не найдена!</h1>
{{/if}}

<h2 class="fw-bold lh-1 mb-3">Комментарии</h2>
<div id="app">
</div>

<script src="/js/comments.js" type="text/babel"></script>

<style>
  #messages{
    height:300px;
    overflow-y: scroll;
  }

  #app {
    margin-top: 2rem;
  }
</style>